<mat-card>
  <mat-card-title>
    Reset Password
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="loading">
      <p>Loading...</p>
    </div>
    <form *ngIf="valid" [formGroup]="resetForm">
      <div>
        <mat-form-field>
          <input matInput
          type="password"
          formControlName="password1"
          placeholder="Password"
          cdkFocusInitial
          required>
          <mat-error *ngIf="password1.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput
          type="password"
          formControlName="password2"
          placeholder="Confirm Password"
          required>
          <mat-error *ngIf="password2.hasError('required')">
            Confirm Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-error
        *ngIf="password1.value != password2.value && password1.touched && password2.touched">
          <small>Passwords do not match</small>  
        </mat-error>
        <mat-error *ngIf="password1.hasError('apiError')">
          <div *ngFor="let err of passwordErrors">{{err}}</div>
        </mat-error>
      </div>
    </form>
    <div *ngIf="notFound && !valid">
      <h3>Invalid Token</h3>
      <!-- <p>You can request a new one <a routerLink="/forgot-password">here</a>.</p> -->
    </div>
    <div *ngIf="expired && !valid">
      <h3>Token Expired</h3>
      <!-- <p>You can request a new one <a routerLink="/forgot-password">here</a>.</p> -->
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="valid">
    <button mat-flat-button color="primary" (click)="reset_password()"
    [disabled]="!resetForm.valid">Submit</button>
  </mat-card-actions>
</mat-card>