<mat-card>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="resetForm">
      <div mat-dialog-content>
        <mat-form-field>
          <input matInput
          placeholder="Email"
          cdkFocusInitial
          formControlName="email" required>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button color="primary" (click)="onClick()">Submit</button>
        <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>