<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>KSL Jobs</span>
    <span class="spacer"></span>
    <button mat-button (click)="openRegisterDialog()">Register</button>
    <button mat-button (click)="openLoginDialog()">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <h1>Something</h1>
  <p>
    Lorem ipsum dolor amet pBR&B schlitz chia knausgaard. Selvage williamsburg green juice knausgaard. Shaman kogi bespoke trust fund tattooed, cloud bread lumbersexual tumblr kombucha post-ironic. Glossier chambray squid kale chips. Small batch tofu you probably haven't heard of them, cardigan cornhole lomo squid portland.
  </p>
  <p>
    Quinoa pop-up normcore banh mi leggings, photo booth green juice put a bird on it. Pok pok four loko neutra keffiyeh, affogato VHS leggings. Small batch +1 cold-pressed shabby chic, cred 3 wolf moon taiyaki farm-to-table fanny pack shoreditch copper mug etsy. Kinfolk poutine jianbing, butcher subway tile pinterest waistcoat hoodie iPhone vaporware health goth banh mi food truck flexitarian.
  </p>
    90's cardigan vexillologist, freegan whatever beard schlitz humblebrag stumptown. Semiotics fingerstache wayfarers beard godard. IPhone skateboard +1, vinyl hell of normcore yuccie kinfolk pug af small batch. Etsy VHS post-ironic, salvia lo-fi kitsch vaporware 8-bit lyft. Tattooed you probably haven't heard of them typewriter truffaut williamsburg. Chillwave vinyl cardigan, kitsch photo booth tumblr shaman tilde cliche offal crucifix authentic four dollar toast 3 wolf moon. Microdosing knausgaard craft beer flannel selfies iceland deep v.
  <p>
    Salvia 90's hammock, vexillologist williamsburg direct trade lumbersexual gluten-free vinyl. Banjo cornhole wayfarers williamsburg mumblecore. Affogato shaman twee, yr echo park enamel pin etsy. Skateboard yr trust fund, hella swag actually poke.
  </p>
  <p>
    Subway tile hexagon DIY four loko pinterest. Post-ironic ethical poutine gentrify brunch ugh helvetica microdosing. Scenester four dollar toast everyday carry, ugh poke farm-to-table flexitarian mustache squid chicharrones godard YOLO hell of. Gentrify scenester tattooed edison bulb, hashtag tumeric asymmetrical hella. Small batch squid offal 90's try-hard jianbing. Put a bird on it blog semiotics, hoodie four dollar toast ramps keytar lyft messenger bag gentrify franzen crucifix mumblecore air plant kickstarter. Wayfarers vexillologist thundercats ethical air plant ennui.
  </p>
</div>

<router-outlet></router-outlet>
