<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row>
    <span>KSL Jobs</span>
    <span class="spacer"></span>
    <button *ngIf="!user" mat-button (click)="openRegisterDialog()">Register</button>
    <button *ngIf="!user" mat-button (click)="openLoginDialog()">Login</button>
    <button *ngIf="user" mat-button (click)="logout()">Logout {{user.username}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="jobs">
  <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>
</div>

<router-outlet></router-outlet>
