<h1 mat-dialog-title>Log In</h1>
<mat-error *ngIf="loginForm.hasError('noUser')">
  <small>Could not log in check your username and password and try again.</small>
</mat-error>
<form [formGroup]="loginForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput
      placeholder="Username"
      cdkFocusInitial
      formControlName="username" required>
      <mat-error *ngIf="username.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
      placeholder="Password"
      formControlName="password"
      type="password"
      required>
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="onClick()">Ok</button>
    <button mat-button color="warn" (click)="onNoClick()">No Thanks</button>
  </div>
</form>
<div class="forgot">
  <button mat-icon-button color="primary" (click)="onNoClick()"
  routerLink="/reset"><small>Forgot your password?</small></button>
</div>