{% load static %}<!DOCTYPE doctype html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>KSL Jobs</title>
<base href="/"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href='{% static "ng/favicon.ico" %}' rel="icon" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href='{% static "ng/styles.3df70bb1bb8c06645a16.css" %}' rel="stylesheet"/></head>
<body class="mat-app-background">
<app-root></app-root>
<script src='{% static "ng/runtime-es2015.de1f101ad38d40b1418d.js" %}' type="text/javascript"></script><script src='{% static "ng/polyfills-es2015.d08b2846b0483deb576c.js" %}' type="text/javascript"></script><script src='{% static "ng/runtime-es5.d7d539b89689d64f8db9.js" %}' type="text/javascript"></script><script src='{% static "ng/polyfills-es5.c3b65b5f6e6ba8769175.js" %}' type="text/javascript"></script><script src='{% static "ng/main-es2015.3caa0c5fc5cb83683dde.js" %}' type="text/javascript"></script><script src='{% static "ng/main-es5.d6ad42c77ee6b2b59e6c.js" %}' type="text/javascript"></script></body>
</html>
